<template>

  <v-simple-table>
     
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Имя
          </th>
          <th class="text-left">
            Фамилия
          </th>
          <th class="text-left">
            Email
          </th>
           <th class="text-left">
             Успеваемость
          </th>
          
           <th class="text-left">
            Дата
          </th>
          <th class="text-left">
             Удалить
          </th>
          
          <!-- Фильтр не работает <th class = "text-left">
            <v-select
            v-model="filter"
            :items="items"
            attach
            chips
            label="Фильтр"
            multiple
          ></v-select>
          </th>
          -->
          
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(task,index) of tasks"
          :key="task.id"
        >
          <td>{{ task.name }}</td>
          <td>{{ task.firstname }}</td>
          <td>{{ task.email}}</td>
          <td>{{task.number}}</td>
          <td>{{ task.date }}</td>
          <td><v-icon @click="tasks.splice(index, 1)">mdi-delete</v-icon></td>
          <td></td>
        </tr>
      </tbody>
    </template>
    
  </v-simple-table>
  
</template>
<script>
//import SecondView from "@/views/SecondView.vue"
export default ({
  data: () => ({
    filter:null ,
    //items: [] ,
  

  }),
  name: "Grid",
  
  displayTasks(){ // фильтр не работает (
    return this.tasks.filter(
      t => {
        if(!this.filter) {
          return true
        }
        return t.name === this.filter
      }
    )
  },
  computed:
  {
    tasks ()  {
      return this.$store.getters.tasks  
    }
  },

  
})
</script>
