<template>
<!-- -->
  <v-form @submit.prevent="submitTask" 
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="name"
      :counter="40"
      :rules="nameRules"
      label="Имя"
      required
    ></v-text-field>

     <v-text-field
      v-model="firstname"
      :counter="40"
      :rules="nameRules"
      label="Фамилия"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="number"
      :counter="10"
      :rules="numberRules"
      label="Число от 0 до 10"
      required
    ></v-text-field>


   <div>
    <!--<div class="mb-6">Active picker: <code>{{ activePicker || 'null' }}</code></div>  -->
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="date"
          label="Дата "
          prepend-icon="mdi-calendar"
          :rules="dateRules"
          readonly
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker
        v-model="date"
        :active-picker.sync="activePicker"
        :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
        min="1950-01-01"
        @change="save"
      ></v-date-picker>
    </v-menu>
  </div>

    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'Обезательное соглашение!']"
      label="Согласны?"
      required
    ></v-checkbox>

    
    
    <v-btn
      :disabled="!valid"
      color="success"
      class="ma-2"
      @click="validate"
    >
      Проверка
    </v-btn>

    <v-btn
      color="error"
      class="ma-2"
      @click="reset"
    >
      Обновить форму
    </v-btn>

    <v-btn
      class = "ma-2"
      color="warning"
      @click="resetValidation"
    >
      Обновить проверку
    </v-btn>

    
    
    <v-btn
      rounded
      color="secondary"
      class="ma-2"
      @click="submitTask"
     
    >
      Создать task
    </v-btn>

  </v-form>
</template>

<script>
  export default {
    data: () => ({
      activePicker: null,
      date: null,
      menu: false,
      number: '',
    
      valid: true,
      name: '',
      firstname: '',
      nameRules: [
        v => !!v || 'Введите имя',
        v => (v && v.length <= 40) || 'Можно вводить только 40 символов!',
      ],
      email: '',
      dateRules: [
        v => !!v || 'Введите дату',
         

      ],
      emailRules: [
        v => !!v || ' Введите E-mail',
        v => /.+@.+\..+/.test(v) || 'Введите правильно E-mail ',
      ],
      numberRules: [
        v => !!v || ' Введите число',
        v => (v && !isNaN(v) && v >= 0 && v <= 10) || "число от 0 до 10"
      ],
      
      
      checkbox: false,
    }),

    methods: {
      validate () {
        this.$refs.form.validate()
     },
      reset () {
        this.$refs.form.reset()
     },
      resetValidation () {
        this.$refs.form.resetValidation()
     },
      save (date) {
        this.$refs.menu.save(date)
     },
    submitTask() {
        const task = {
            name: this.name,
            firstname: this.firstname,
            email: this.email,
            id: Date.now(),
            tags:  this.checkbox,
            date: this.date,
            number: this.number
        }
        console.log(task)
        this.$store.dispatch('createTask',task)
        this.$router.push('/grid')
    }
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.activePicker = 'YEAR'))
      },
    },
  
  } 
</script>

<style scoped>
* {
    padding: 0;
    margin: 0;
}
.v-form {
    padding: 16px!important;
}
.v-menu {
    padding: 16px!important;
}
</style>